<h1>Editing Gossip</h1>

<%= form_for @gossip do |f| %>
  <div class="form-group">
    <label>Gossip</label>
    <%= f.text_field :anonymous_author, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Content</label>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <div>

    <%= button_to 'Modifier', gossip_path(@gossip), :class=>"btn btn-sm btn-outline-warning", :method=>:patch%>
    <%= button_to 'Détruire', @gossip, :class=>"btn btn-sm btn-danger", :method=>:delete%>
    <!--<button class="btn btn-sm btn-outline-secondary"><%= link_to 'Détruire', @gossip, method: :delete %></button>
  <button class="btn btn-sm btn-outline-secondary" type="submit">Modifier</button>-->
  </div>
<% end %>

<br />
<%= button_to 'Back', gossips_path, :class=>"btn btn-sm btn-outline-secondary", :method=>:get %>
