<p id="notice"><%= notice %></p>

<h1>Gossips</h1>

<table>
  <thead>
    <tr>
      <th>Anonymous author</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gossips.each do |gossip| %>
      <tr>
        <td><%= gossip.anonymous_author %></td>
        <td><%= gossip.content %></td>
        <td><%= button_to 'Show', gossip, :class=>"btn btn-sm btn-outline-info", :method=>:get%></td>
        <td><%= button_to 'Edit', edit_gossip_path(gossip), :class=>"btn btn-sm btn-outline-warning", :method=>:get%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Gossip', new_gossip_path, :class=>"btn btn-primary my-2", :method=>:get%>
