<h1>Nouveau Gossip</h1>

<%= form_for @gossip do |f| %>
  <div class="form-group">
    <label>Author</label>
    <%= f.text_field :anonymous_author, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Content</label>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <div class="form-group btn btn-primary my-2">

    <%= f.submit "Create" %>
  </div>
<% end %>

<br />
<%= button_to 'Back', gossips_path, :class=>"btn btn-sm btn-outline-secondary", :method=>:get %>
