<p id="notice"><%= notice %></p>

<p>
  <strong>Anonymous author:</strong>
  <%= @gossip.anonymous_author %>
</p>

<p>
  <strong>Content:</strong>
  <%= @gossip.content %>
</p>

<%= button_to 'Edit', edit_gossip_path(@gossip), :class=>"btn btn-sm btn-outline-warning", :method=>:get%>
<br />
<%= button_to 'Back', gossips_path, :class=>"btn btn-sm btn-outline-secondary", :method=>:get %>
